@model AplikacijaZaPrijavuOstecenjaSisMosZup.Models.Prijavitelj

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>Prijavitelj</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Id" />
            <div class="form-group">
                <label asp-for="Ime" class="control-label"></label>
                <input asp-for="Ime" class="form-control" />
                <span asp-validation-for="Ime" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Prezime" class="control-label"></label>
                <input asp-for="Prezime" class="form-control" />
                <span asp-validation-for="Prezime" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Broj_Godina" class="control-label"></label>
                <input asp-for="Broj_Godina" class="form-control" />
                <span asp-validation-for="Broj_Godina" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="OIB" class="control-label"></label>
                <input asp-for="OIB" class="form-control" />
                <span asp-validation-for="OIB" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Selo_Grad" class="control-label"></label>
                <input asp-for="Selo_Grad" class="form-control" />
                <span asp-validation-for="Selo_Grad" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Adresa" class="control-label"></label>
                <input asp-for="Adresa" class="form-control" />
                <span asp-validation-for="Adresa" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="RazinaOstecenjaId" class="control-label"></label>
                <select asp-for="RazinaOstecenjaId" class="form-control" asp-items="ViewBag.RazinaOstecenjaId"></select>
                <span asp-validation-for="RazinaOstecenjaId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
