@{
    ViewData["Title"] = "Home Page";
}

<div style="text-align: center;">
    <h1>Prijavite štetu u Vašoj županiji</h1>
</div>
<hr />
<div style="text-align: center;">
    <h3>Potresom pogođene županije</h3>
</div>
<hr />
<div style="text-align: center;">
    <a class="nav-link text-dark" asp-area="" asp-controller="Prijavitelj" asp-action="Create">Prijavite štetu u Sisačko-moslavačkoj županiji</a>
</div>
<hr />
<div style="text-align: center; background-color: lightgray;">
    <a class="nav-link text-dark" asp-area="" asp-controller="Prijavitelj" asp-action="Create">Prijavite štetu u Zagrebačkoj županiji</a>
</div>
<br />
<div style="text-align: center;">
    <a class="nav-link text-dark" asp-area="" asp-controller="Prijavitelj" asp-action="Create">Prijavite štetu u Gradu Zagrebu</a>
</div>
<hr />
<div style="text-align: center; background-color: lightgray;">
    <a class="nav-link text-dark" asp-area="" asp-controller="Prijavitelj" asp-action="Create">Prijavite štetu u Karlovačkoj županiji</a>
</div>
<br />
<div style="text-align: center;">
    <a class="nav-link text-dark" asp-area="" asp-controller="Prijavitelj" asp-action="Create">Prijavite štetu u Krapinsko-zagorskoj županiji</a>
</div>
<hr />
<div style="text-align: center; background-color: lightgray;">
    <a class="nav-link text-dark" asp-area="" asp-controller="Prijavitelj" asp-action="Create">Prijavite štetu u Bjelovarsko-bilogorskoj županiji</a>
</div>
<br />
<div style="text-align: center;">
    <h3>Ostale županije</h3>
</div>
<hr />
<div style="text-align: center;">
    <a class="nav-link text-dark" asp-area="" asp-controller="Prijavitelj" asp-action="Create">Prijavite štetu u Brodsko-posavskoj županiji</a>
</div>
<hr />
<div style="text-align: center; background-color: lightgray;">
    <a class="nav-link text-dark" asp-area="" asp-controller="Prijavitelj" asp-action="Create">Prijavite štetu u Dubrovačko-neretvanskoj županiji</a>
</div>
<br />
<div style="text-align: center;">
    <a class="nav-link text-dark" asp-area="" asp-controller="Prijavitelj" asp-action="Create">Prijavite štetu u Istarskoj županiji</a>
</div>
<hr />
<div style="text-align: center; background-color: lightgray;">
    <a class="nav-link text-dark" asp-area="" asp-controller="Prijavitelj" asp-action="Create">Prijavite štetu u Koprivničko-križevačkoj županiji</a>
</div>
<br />
<div style="text-align: center;">
    <a class="nav-link text-dark" asp-area="" asp-controller="Prijavitelj" asp-action="Create">Prijavite štetu u Ličko-senjskoj županiji</a>
</div>
<hr />
<div style="text-align: center; background-color: lightgray;">
    <a class="nav-link text-dark" asp-area="" asp-controller="Prijavitelj" asp-action="Create">Prijavite štetu u Međimurskoj županiji</a>
</div>
<br />
<div style="text-align: center;">
    <a class="nav-link text-dark" asp-area="" asp-controller="Prijavitelj" asp-action="Create">Prijavite štetu u Osječko-baranjskoj županiji</a>
</div>
<hr />
<div style="text-align: center; background-color: lightgray;">
    <a class="nav-link text-dark" asp-area="" asp-controller="Prijavitelj" asp-action="Create">Prijavite štetu u Požeško-slavonskoj županiji</a>
</div>
<br />
<div style="text-align: center;">
    <a class="nav-link text-dark" asp-area="" asp-controller="Prijavitelj" asp-action="Create">Prijavite štetu u Primorsko-goranskoj županiji</a>
</div>
<hr />
<div style="text-align: center; background-color: lightgray;" ">
    <a class="nav-link text-dark" asp-area="" asp-controller="Prijavitelj" asp-action="Create">Prijavite štetu u Splitsko-dalmatinskoj županiji</a>
</div>
<br />
<div style="text-align: center;">
    <a class="nav-link text-dark" asp-area="" asp-controller="Prijavitelj" asp-action="Create">Prijavite štetu u Šibensko-kninskoj županiji</a>
</div>
<hr />
<div style="text-align: center; background-color: lightgray;" ">
    <a class="nav-link text-dark" asp-area="" asp-controller="Prijavitelj" asp-action="Create">Prijavite štetu u Varaždinskoj županiji</a>
</div>
<br />
<div style="text-align: center;">
    <a class="nav-link text-dark" asp-area="" asp-controller="Prijavitelj" asp-action="Create">Prijavite štetu u Virovitičko-podravskoj županiji</a>
</div>
<hr />
<div style="text-align: center; background-color: lightgray;" ">
    <a class="nav-link text-dark" asp-area="" asp-controller="Prijavitelj" asp-action="Create">Prijavite štetu u Vukovarsko-srijemskoj županiji</a>
</div>
<br />
<div style="text-align: center;">
    <a class="nav-link text-dark" asp-area="" asp-controller="Prijavitelj" asp-action="Create">Prijavite štetu u Zadarskoj županiji</a>
</div>
<hr />


